<!DOCTYPE html>
<html lang="es">
       <%- include('./partials/head') %>
    <body class="body-iteml">
        <%- include('./partials/header') %>

            <main class="home-m">

                <!-- CAROUSEL -->
                <%- include('./partials/carousel') %>
                    <!-- END CAROUSEL -->


                    <!-- CATEGORIES -->

                    <div class="mancha2">
                        <img src="/" alt="">
                    </div>

                    <section class="categories-section">
                        <div class="categoriesH">
                            <div class="category-card">
                                <a href="/products/category/1"><img src="/images/categorias/cat_tvYSonido.jpg"
                                        alt=""></a>
                                <p class="fondo" href="#">TV Y SONIDO</p>
                            </div>
                            <div class="category-card">
                                <a href="/products/category/3"> <img src="/images/categorias/cat_climatizacion.jpg"
                                        alt=""></a>
                                <p class="fondo" href="#">CLIMATIZACIÓN</p>
                            </div>
                            <div class="category-card">
                                <a href="/products/category/4"> <img src="/images/categorias/cat_pequeñosElectro.jpg"
                                        alt=""></a>
                                <p class="fondo" href="#">PEQUEÑOS ELECTRO</p>
                            </div>
                            <div class="category-card">
                                <a href="/products/category/2"> <img src="/images/categorias/cat_HeladeraYLavado.jpg"
                                        alt=""></a>
                                <p class="fondo" href="#">HELADERA Y LAVADO</p>
                            </div>
                        </div>

                    </section>
                    <!-- END CATEGORIES -->

                    <!-- SPECIAL OFFERS -->

                    <%- include('./partials/slider') %>

                        <!-- END SPECIAL OFFERS -->




            </main>

            <%- include('./partials/footer') %>

                <!-- JavaScript -->
                <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    </body>

</html>