<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/headAdmin') %>
<body>
    <%- include('../partials/headerAdmin') %>
    <div class="container-fluid">
        <div class="row">
    <%- include('../partials/adminSidebar') %>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2"> Lista de usuarios:</h1>
          <form action="/admin/searchAdminUsers" method="GET" class="search-form-mobile form-control-dark w-100" id="search">
            <input class="form-control form-control-dark w-100"   name="keywords" id="searchAdmindUP" type="text" placeholder="Buscar.." aria-label="Search">
            </form>
    </div>
    <div class="table-responsive">
    <% usuarios.forEach(user => { %>
        <p> id: <%- user.id %> </p>
        <p>rol: <%- user.rol %> </p>      
        <p>Nombre: <%- user.name %> </p>
        <p>Apellido: <%- user.last_name %> </p>
        <p>Email: <%- user.email %> </p>
        <p>Número de telefono: <%- user.tel %> </p>
        <p>Dirección: <%- user.address %> </p>
        <p>Codigo Postal: <%- user.pc %> </p>
        <p>Provincia: <%- user.province %> </p>
        <p>Ciudad: <%- user.city %> </p>        
        <p>--------------------</p>
        <% })%>
        </div>
        </div>
        </div>
        </main>
        <%- include('../partials/adminScripts') %>
        
</body>
</html>