<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>

    <body class="login">
        <%- include('../partials/header.ejs') %>
            <div class="form-container">
                <h2><b> Editar mi perfil</b>│¿Ya tenes cuenta? <a href="login">Ingresá</a></h2>

                <form action="/users/profile/edit/<%= user.id%>?_method=PUT" method="POST"
                    enctype="multipart/form-data" class="form-ad">
                    <div class="profile-box" id="avatar-box">

                        <div class="input-file-container">
                          <!--   <div class="add-new-photo" id="addPhoto">
                               <span><i class="fas fa-camera txt-send"></i></span> 
                            </div> -->
                         <label for="files" ><div class="add-new-photo" id="addPhoto"><!-- <i class="fas fa-camera txt-send"></i> -->
                            <output id="list" class="img-r-avatar"></output>
                             <img src="/images/logo/userimg.jpg" class="img-user-avatar" width="100%" height="80%" for="files" > 
                             </div>
                            </label> 
                           
                            <input type="file" id="files" name="avatar" style="display: none;"/>
    <!-- 
                            <output id="list"></output> -->
                        </div>
                    </div>


                    <div class="profile-form">

                        <div class="profile-box">
                            <h4 class="profile-subtitle">Datos personales</h4>

                            <div class="input-container">
                                <label>Nombre:</label>
                                <input class="input-style" type="text" name="name"
                                    value="<%= locals.old ? old.name : user.name %>">
                                <% if (locals.errors && errors.name) { %>
                                    <small class="text-danger">
                                        <%= errors.name.msg %>
                                    </small>
                                    <% } %>
                            </div>

                            <div class="input-container">
                                <label>Apellido:</label>
                                <input class="input-style" type="text" name="lastName"
                                    value="<%= locals.old ? old.lastName : user.lastName %>">
                                <% if (locals.errors && errors.lastName) { %>
                                    <small class="text-danger">
                                        <%= errors.lastName.msg %>
                                    </small>
                                    <% } %>
                            </div>

                            <!--     <div class="input-container">
                                <label>DNI:</label>
                                <input class="input-style" type="number" name="dni">
                                <span class="error-message">Debe ingresar un DNI válido</span>
                            </div>
                        </div> -->
                            <div class="profile-box">
                                <h4 class="profile-subtitle">Datos de contacto</h4>
                                <div class="input-container">
                                    <label>Teléfono:</label>
                                    <input class="input-style" type="tel" name="phone"
                                        value="<%= user.phone ? user.phone : "" %>">
                                </div>

                                <!--      <div class="input-container">
                                <label>Pais:</label>
                                <input class="input-style" type="text" name="country">
                                <span class="error-message">Debe ingresar un pais</span>
                            </div> -->
                                <div class="input-container">
                                    <label>Provincia:</label>
                                    <select name="province" id="" class="selec-city">
                                        <option value="">Provincia</option>
                                        <option value="">Buenos Aires</option>
                                        <option value="">Capital Federal</option>
                                        <option value="">Catamarca</option>
                                        <option value="">Chaco</option>
                                        <option value="">Chubut</option>
                                        <option value="">Córdoba</option>
                                        <option value="">Corrientes</option>
                                        <option value="">Entre Ríos</option>
                                        <option value="">Formosa</option>
                                        <option value="">Jujuy</option>
                                        <option value="">La Pampa</option>
                                        <option value="">La Rioja</option>
                                        <option value="">Mendoza</option>
                                        <option value="">Misiones</option>
                                        <option value="">Neuquén</option>
                                        <option value="">Río Negro</option>
                                        <option value="">Salta</option>
                                        <option value="">San Juan</option>
                                        <option value="">San Luis</option>
                                        <option value="">Santa Cruz</option>
                                        <option value="">Santa Fe</option>
                                        <option value="">Santiago del Estero</option>
                                        <option value="">Tierra del Fuego</option>
                                        <option value="">Tucumán</option>
                                    </select>
                                    <!-- <input class="input-style" type="text" name="Province">
                                <span class="error-message">Debe ingresar un provincia</span> -->
                                </div>
                                <div class="input-container">
                                    <label>Localidad:</label>
                                    <select name="city" id="" class="selec-city">
                                        <option value="">Localidad</option>
                                    </select>
                                    <!--  <label>Ciudad:</label>
                                <input class="input-style" type="text" name="city">
                                <span class="error-message">Debe ingresar una ciudad</span> -->
                                </div>
                                <div class="input-container">
                                    <label>Codigo Postal:</label>
                                    <input class="input-style" type="text" name="postalCode"
                                        value="<%= user.postalCode ? user.postalCode : "" %>">
                                </div>
                                <div class="input-container">
                                    <label>Calle:</label>
                                    <input class="input-style" type="text" name="street"
                                        value="<%= user.street ? user.street : "" %>">
                                    <!--     <span class="error-message">Debe ingresar un calle</span> -->
                                </div>
                                <div class="input-container">
                                    <label>Piso o departamento:</label>
                                    <input class="input-style" type="text" name="flat_apartment"
                                        value="<%= user.flat_apartment ? user.flat_apartment : "" %>">
                                    <!-- <span class="error-message">Debe ingresar un calle</span> -->
                                </div>
                                <div class="input-container">
                                    <label>Número:</label>
                                    <input class="input-style" type="number" name="number"
                                        value="<%= user.number ? user.number : "" %>">
                                    <span class="error-message">Debe ingresar un número</span>
                                </div>
                                <div class="input-container">
                                    <label>E-mail:</label>
                                    <input class="input-style" type="email" name="email" readonly
                                        value="<%= user.email %>">

                                </div>


                            </div>
                        </div>
                        <div class="button-container">
                            <!-- <button type="reset" class="btn btn-submit">Reset</button> -->
                            <button type="submit" class="btn btn-submit">Guardar</button>
                        </div>
</div>
                </form>
            </div>

            <script src="/js/imageProfile.js"></script>
            <%- include('../partials/footer.ejs') %>
    </body>

</html>