<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %>

<body class="login">
    <%- include('../partials/header.ejs')  %>
  
  
  

<main class="loginE">
    <div class="form-container">
        <h2>Ingresa a Mi cuenta</h2>
       
        <form action="/users/login" method="POST" class="form-ad">
            <div class="form">
                <div class="input-container">
                    <label>E-mail:</label>
                    <input class="input-style" type="email" name="email" >
                    <% if (locals.errors && errors.email) { %>
                        <small class="text-danger"><%= errors.email.msg %> </small>
                    <% } %>
                </div>
                <div class="input-container">
                    <label>Contraseña:</label>
                    <input class="input-style" type="password" name="pass" >
                    <% if (locals.errors && errors.pass) { %>
                        <small class="text-danger"><%= errors.pass.msg %> </small>
                    <% } %>
                </div>
                
                <span class="qp"><a href="enConstruccion">¿Olvidaste tu contraseña?</a></span>
               
                <div class="check-remember">
                    <label for="remember">  Recordarme </label>
                    <input type="checkbox" name="remember" id="remember">                     
                </div>
                <% if (locals.errorMsg ) { %>
                    <small class="text-danger"><%= errorMsg %> </small>
            <% } %>

                <div class="button-container">
            <!--         <span class="error-message">Credenciales inválidas</span> -->
                    <button type="submit" class="btn btn-submit">Ingresar</button>
                </div>
                
                <span><a href="register">Aún no tengo cuenta</a></span>
            </div>
        </form>
    </div>
</main>
    <%- include('../partials/footer.ejs')  %>

</body>
</html>